@using Mediplus.PL.Areas.Admin.ViewModels
@model CreateHospitalVM

<form asp-action="Create" class="container" method="POST">
    <h2 class="my-4">Add Hospital</h2>
    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Address"></label>
        <input class="form-control" asp-for="Address" />
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" />
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <select class="custom-select" asp-for="DoctorsIds" asp-items="Model.DoctorsList"></select>
    </div>
    <div class="mb-3">
        <input class="form-check-inline" asp-for="IsActive" />
        <label class="form-label" asp-for="IsActive">Active?</label>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>