@model Portfolio

<form asp-action=@(Model == null ? "Create" : "Update") class="container" method="POST">
    <h2 class="my-4">@(Model == null ? "Add" : "Update") Portfolio</h2>
    <div class="mb-3">
        <label class="form-label" asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ThumbnailPath">Thumbnail Path</label>
        <input class="form-control" asp-for="ThumbnailPath" placeholder="pf1.jpg" />
        <span class="text-danger" asp-validation-for="ThumbnailPath"></span>
    </div>
    <div class="mb-3">
        <input class="form-check-inline" asp-for="IsActive" />
        <label class="form-label" asp-for="IsActive">Active?</label>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>