@model LoginUserDto

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form class="user" method="post">
                                    <div class="form-group mb-3">
                                        <input class="form-control form-control-user" asp-for="UserNameOrEmail">
                                        <span class="text-danger" asp-validation-for="UserNameOrEmail"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input class="form-control form-control-user" asp-for="Password">
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input class="custom-control-input" asp-for="RememberMe">
                                            <label class="custom-control-label" asp-for="RememberMe"></label>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary my-0 mx-auto mt-3 btn-user d-block" type="submit">
                                        Login
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" asp-action="Register">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>